//admin scss files
@import 'partials/admin/layout/main.scss';
@import 'partials/admin/layout/sidenav.scss';
@import 'partials/admin/partials/event.scss';

@import 'partials/event/index.scss';
@import 'partials/event/program.scss';
@import 'partials/food/index.scss';
@import 'partials/food/single.scss';
@import 'layout/footer.scss';
@import 'layout/nav.scss';

@import "partials/home.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;
}
