.layout-nav {
  display: flex;
  background: black;
  position: static;
  top: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.layout-nav-btn, {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.layout-nav-links {
  display: flex;
  justify-content: center;
  align-content: center;
}

.layout-nav-links-url {
  background: transparent;
  border: none;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}