.partials-order-index {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partials-order-index-image-background {
  height: 1000px;
  width: 100%;
  object-fit: fill;
}

.partials-order-index-container {
  box-sizing: border-box;
  background: white;
  max-width: 1100px;
  padding: 10px 40px 0 40px;
  height: calc(100% - 30px);
  position: absolute;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px -6px #000000;
  overflow: hidden;
}

.partials-order-index-cart {
  min-width: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.partials-order-index-extra-sales {
  height: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: row;
}

.partials-order-index-container-inner {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.partials-order-index-container-bread {
  display: flex;
  flex-direction: column;
}

.partials-order-index-container-bread-line {
  width: 100%;
  height: 2px;
  background: #000000;
}

.partials-order-index-container-bread-text {
  color: #000000;
  font-size: 14px;
  margin-bottom: 5px;
}

.partials-order-index-extra-sales-line {
  height: 100%;
  width: 2px;
  background: #000000;
}

.partials-order-index-cart-inner {
  min-width: 600px;
}

.partials-order-index-cart-inner-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
}

.partials-order-index-cart-inner-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  height: 100px;
  margin-bottom: 20px;
}

.partials-event-program-pay-btn {
  background-color: #56792f;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  user-select: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  vertical-align: middle;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  height: 20px;
  margin: 0 10px;
  width: 120px;
}
.partials-event-program-con {
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}