.partials-home {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.partials-home-image-container {
  position: relative;
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partials-home-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: fill;
}

.partials-home-image-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 30px;
  padding: 10px 20px;
  text-align: center;
}

.partials-home-image-search {
  position: absolute;
  top: 0;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partials-home-image-search-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partials-home-image-search-bar-border {
  border: white solid 2px;
  width: 100%;
  margin: 0 5px;
}

.partials-home-welcome {
  background: #CFD8DC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partials-home-welcome-title {
  text-align: center;
  margin: 20px 0;
  font-size: 64px;
  font-weight: bold;
  color: #5A5D61;
}

.partials-home-welcome-text {
  color: #000000;
  max-width: 700px;
  text-align: center;
}

.partials-home-welcome-text-bold {
  color: #000000;
  font-weight: bold;
  max-width: 700px;
  margin: 10px 0;
  text-align: center;
}

.partials-home-grid-wrapper {
  background: #CFD8DC;
}

.partials-home-grid {
  margin: 50px auto;
  display: grid;
  grid-template-areas:
                'update museum food jazz'
                'update must shop shop'
                'dance must shop shop';
  gap: 42px;
  width: 886px;
}

.partials-home-grid-images {
  height: 100%;
  width: auto;
}

.partials-home-grid-holder {
  box-shadow: 5px 1px 13px -6px #000000;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partials-home-grid-update {
  background: red;
  width: 190px;
  height: 422px;
  grid-area: update;
}

.partials-home-grid-museum {
  background: red;
  width: 190px;
  height: 190px;
  grid-area: museum;
}

.partials-home-grid-food {
  height: 190px;
  background: red;
  width: 190px;
  grid-area: food;
}

.partials-home-grid-jazz {
  height: 190px;
  background: red;
  width: 190px;
  grid-area: jazz;
}

.partials-home-grid-must {
  background: red;
  width: 190px;
  height: 422px;
  grid-area: must;
}

.partials-home-grid-shop {
  background: red;
  width: 422px;
  height: 422px;
  grid-area: shop;
}

.partials-home-grid-dance {
  height: 190px;
  background: red;
  width: 190px;
  grid-area: dance;
}

.partials-home-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding: 5px 5px;
}

.partials-home-event {
  width: 100%;
}

.partials-home-event-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 40px;
}

.partials-home-event-nav-title {
  color: #5A5D61;
  font-weight: bold;
  font-size: 60px;
}

.partials-home-event-nav-btn {
  background-color: #007BFF;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 2px;
  line-height: 1.5;
  border-radius: 0.3rem;
  user-select: none;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 170px;
  margin: 0 10px;
  text-decoration: none;
}

.partials-home-event-programs {
  display: flex;
  flex-direction: row;
  height: 200px;
  overflow: hidden;
}

.partials-home-event-programs-images {
  width: 100%;
}

.partials-home-event-programs-container {
  position: relative;
  display: flex;
  align-items: center;
}

.partials-home-event-programs-date {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
}