.partials-restaurant-index-card .partials-restaurant-index-card-body {
  border: 1px #000;
  background-color: #1F883C;
  width: 15%;
}
.partials-restaurant-index-header{
  background: url("/foodBanner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.partials-restaurant-index-header-text{
  color: #ffffff;
  margin: auto;
  text-align: center;
  font-size: 96px;
  line-height: 350px;
  font-family: Roboto;
}
