.partials-food-single-note {
  font-size: 9px;
}

.partials-food-single-card {
  width: 75%;
  margin: auto;
  background-color: white;
  padding: 10px;
}

.partials-food-single-bg {
  background: url("/foodBanner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 0px;
}